<div class="container">
  <h4 class="mt-3">{{name}}</h4>
  <p>
    Favor seleccionar el archivo a convertir
  </p>

  <input class="form-control "  type="file" (change)="onFileChange($event)" />

  <!-- <div id="output"></div> -->
  <br>
  <!-- <div *ngIf="willDownload">
  <a id="download"> Download JSON File </a>
</div> -->
  <div class="form-group  ml-1">
    <label for="camiones">Seleccionar camión</label>
    <select id="camiones" (change)="generarCalculo()" [(ngModel)]='placa' class="form-control col-4" id="">
    <option *ngFor="let node of camiones"  [value]="node">{{node}}</option>
  </select>
  </div>

  <div class="row ml-2">
    <h5>
      Kilometraje recorrido en el mes: {{totalKms}} Kms
    </h5>
    <h5>
      Galones consumidos: {{galonesXMes}} Gls
    </h5>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Galonaje</th>
        <th scope="col">Fecha</th>
        <th scope="col">Placa</th>
        <th scope="col">Kilometraje</th>
        <th scope="col">Precio</th>
        <th scope="col">Total</th>
        <th scope="col">Kms x Galon</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let node of listado; let i = index">
        <th>{{i}}</th>
        <td>{{node.GALONAJE}}</td>
        <td>{{node.FECHA}}</td>
        <td>{{node.PLACA}}</td>
        <td>{{node.KILOMETRAJE}}</td>
        <td>{{node.PRECIO}}</td>
        <td>{{node[' TOTAL ']}}</td>
        <td>{{node['kmsXGalon']}}</td>
      </tr>
    </tbody>
  </table>

</div>